.keys-pressed-overlay-element {
  font-family:"Cutive Mono", monospace;
  position:fixed;
  bottom: 0;
  z-index: 2147483647; /* Chromes maximum z-index - lol.  Don't know how else to do this without js...  Needs to be on top of all the content on any site */
  width: 100%;
  text-align: center;
  color:#fff;
  font-size:32px;
  min-height:40px;;
  display:inline-block;
  white-space:pre;
  background:#333;
  box-shadow:inset 0 0 10px 0 rgba(255,255,255,0.2);
  padding: 10px;
  line-height: 1.15;
}

.focus-first-input-overlay-element {
  position: absolute;
  z-index: 2147483647; /* Chromes maximum z-index - lol.  Don't know how else to do this without js...  Needs to be on top of all the content on any site */
  /* position: relative; 
  display: inline-block; */
}

.focus-first-input-overlay-element[focus-first-input-overlay-element-number]:before {
  font-family:"Cutive Mono", monospace;
  display: inline-block;
  content: attr(focus-first-input-overlay-element-number);
  background-color: black;
  color: white;
  text-align: center;
  border: 1px solid white;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  padding: 3px;
  min-width: 22px;
  height: initial;
  text-indent: initial;
  line-height: 12px;
  font-size: 12px;
  font-weight: bold;
}
