a.focus-first-input-numeric-link {
  position: relative;
  display: inline-block;
}

a.focus-first-input-numeric-link[focus-first-input-numeric-link-number]:before {
  content: attr(focus-first-input-numeric-link-number);
  background-color: black;
  color: white;
  text-align: center;  
  width: auto;
  padding: 5px;
  border: 1px solid white;
  border-radius: 15px;
  position: absolute;
  z-index: 1;
  min-width: 12px;
  min-height: 12px;
  font-size: 12px;
}
